<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidstudio.master.vipsound">

    <application
        android:allowBackup="true"
        android:icon="@drawable/vipsound"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".contact"
            android:label="@string/title_activity_contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".animali"
            android:label="@string/title_activity_animali"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".cartoni"
            android:label="@string/title_activity_cartoni"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".giochi"
            android:label="@string/title_activity_giochi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".informazioni"
            android:label="@string/title_activity_informazioni"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>